@font-face {
	font-family: "circular-std-book";
	src: url('/assets/fonts/circular-std-book/circular-std-book.eot');
	src: url('/assets/fonts/circular-std-book/circular-std-book.eot?#iefix') format('eot'),
		 url('/assets/fonts/circular-std-book/circular-std-book.woff') format('woff'),
		 url('/assets/fonts/circular-std-book/circular-std-book.ttf') format('truetype'),
		 url('/assets/fonts/circular-std-book/circular-std-book.svg#socicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "circular-std-bold";
	src: url('/assets/fonts/circular-std-bold/circular-std-bold.eot');
	src: url('/assets/fonts/circular-std-bold/circular-std-bold.eot?#iefix') format('eot'),
		 url('/assets/fonts/circular-std-bold/circular-std-bold.woff') format('woff'),
		 url('/assets/fonts/circular-std-bold/circular-std-bold.ttf') format('truetype'),
		 url('/assets/fonts/circular-std-bold/circular-std-bold.svg#socicon') format('svg');
	font-weight: normal;
	font-style: normal;
}