// ===========================================================
// screen sizes
// ===========================================================

$sz-largest : 1200px;
$sz-large 	: 1024px;
$sz-medium 	: 768px;
$sz-small 	: 600px; // 480px;

// ===========================================================
// colours
// ===========================================================

$white : #FFF;
$black : #000;
$red   : #ED3531;
