// ========================================
// men
// ========================================

.gender-men {

	// ========================================
	// 3.0
	// ========================================

	.shoe-side--three {
		.hotspot {
			left: 560px;
			bottom: 150px;
		}
	}

	.shoe-sole--three {
		.hotspot {
			left: 349px;
			bottom: 134px;
		}
	}

	.shoe-back--three {
		.hotspot {
			right: 383px;
			bottom: 118px;
		}
	}

	// ========================================
	// 4.0
	// ========================================

	.shoe-side--four {
		.hotspot {
			left: 560px;
			bottom: 140px;
		}
	}

	.shoe-sole--four {
		.hotspot {
			left: 368px;
			bottom: 135px;
		}
	}

	.shoe-back--four {
		.hotspot {
			right: 381px;
			bottom: 118px;
		}
	}

	// ========================================
	// 5.0
	// ========================================

	.shoe-side--five {
		.hotspot {
			left: 560px;
			bottom: 140px;
		}
	}

	.shoe-sole--five {
		.hotspot {
			left: 355px;
			bottom: 138px;
		}
	}

	.shoe-back--five {
		.hotspot {
			right: 393px;
			bottom: 103px;
		}
	}

}


// ========================================
// women
// ========================================

.gender-women {

	// ========================================
	// 3.0
	// ========================================

	.shoe-side--three {
		.hotspot {
			left: 560px;
			bottom: 150px;
		}
	}

	.shoe-sole--three {
		.hotspot {
			left: 341px;
			bottom: 132px;
		}
	}

	.shoe-back--three {
		.hotspot {
			right: 389px;
			bottom: 126px;
		}
	}

	// ========================================
	// 5.0
	// ========================================

	.shoe-side--five {
		.hotspot {
			left: 560px;
			bottom: 140px;
		}
	}

	.shoe-sole--five {
		.hotspot {
			left: 352px;
			bottom: 141px;
		}
	}

	.shoe-back--five {
		.hotspot {
			right: 389px;
			bottom: 120px;
		}
	}

}