.slider-ctrl {
	.inactive {
		display: none;
	}

}

.slider-ctrl-unit {
	cursor: pointer;
	position: relative;
	img {
		width: 100%;
		margin: 0 0 110px 0;
		@include breakpoint(mobile) {
		    margin: 40px 0;
		}
	}
	h3 {
		position: absolute;
		bottom: 110px;
		width: 100%;
		@extend .f_r;
		@include breakpoint(mobile) {
		    bottom: 20px;
		}
	}
}